nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--header-padding);
    -webkit-box-shadow: 0px 9px 5px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 5px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 5px -10px rgba(0, 0, 0, 0.75);


    #logo-link {

        .logo {
            width: 250px;
        }

    }

    #navbar {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            list-style: none;
            padding: 0 1rem;
            position: relative;

            .menu-item {
                text-decoration: none;
                color: #333333;
                font-size: var(--link-font-size) !important;
                font-weight: var(--heading-font-weight);
                letter-spacing: .025em;
                font-family: 'Source Sans 3', 'Calibri', sans-serif;
                transition: ease-in-out 0.3s;

                &:hover {
                    color: #7dbf25;
                    text-decoration: none;
                }

                &:active {
                    color: #7dbf25;
                    text-decoration: none;
                }
            }
        }
    }

    #mobile {
        display: none;
        cursor: pointer;

        .icon {
            color: #333333;
            transition: ease-in-out 0.3s;

            &:hover {
                color: #7dbf25;
            }
        }
    }
}

@media screen and (max-width:769px) {
    nav {


        #logo-link {

            .logo {
                width: 250px;
            }

        }

        #navbar {
            display: flex;
            flex-direction: column !important;
            align-items: flex-start !important;
            justify-content: flex-start !important;
            position: fixed;
            top: 75px;
            right: 0;
            width: 350px;
            height: 100vh;
            background-color: #7dbf25;
            -webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.55) !important;
            -moz-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.55) !important;
            box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.55) !important;
            padding: 40px 10px;
            transition: 0.6s ease-in-out;
            z-index:100;

            &.active{
                right: -400px;
                height: 0vh;
            }

            li {
                margin-bottom: 25px;

                .menu-item {
                    color: #fff;
                    font-size: 1.4rem !important;

                    &:hover {
                        color: #333333;
                        text-decoration: none;
                    }
    
                    &.active {
                        color: #333333;
                        text-decoration: none;
                    }
                }
            }
        }

        #mobile {
            display: block;
        }
    }
}